section.colors-game  {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4000;
    background-image: url(../assets/background-images/vector-cartoon-illustration-of-empty-kindergarten-room-with-furniture-and-toys-for-young-children-n/1926.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
    
#content-colors-game {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    z-index: 4000;
    background-image: url(../assets/game-icons/cartoon-landscape-vector.jpg);
}

#button-close-game {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#colors__game-container-top-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.slime {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position:relative;
}

#start {
    width: 150px;
    height: 150px;
    background-image: url(../assets/game-icons/hot-air-balloon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#colors-game-main-area {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

#color__colors-game {
    width: 30rem;
    text-align: center;
}

#container {
    width: 420px;
    height: 420px;
}

#droppable {
    width: 150px;
    height: 150px;
    background-image: url(../assets/game-icons/—Pngtree—single\ cartoon\ house_5714612.png);
    background-size: contain;
}

.red *{
    fill: rgb(226, 19, 19);
}

.green * {
    fill: green;
}

.blue * {
    fill: rgb(22, 22, 216);
}

.yellow * {
    fill: yellow;
}

.orange * {
    fill: orange;
}

.purple * {
    fill: purple;
}
