section.colors-game  {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4000;
    background-color: beige;
    background-image: url(../assets/game-icons/exterior-house-facade-icon/50574.jpg);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#button-close-game {
    position: absolute;
    right: 10px;
    top: 10px;
}

.slime {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position:relative;
}

#start {
    width: 100px;
    height: 100px;
    background-color: coral;
}

#container {
    position: relative;
    width: 420px;
    height: 420px;
    /* display: flex;
    justify-content: space-around; */
}

#droppable {
    width: 150px;
    height: 150px;
    background-image: url(../assets/game-icons/exterior-house-facade-icon/50574.jpg);
    background-size: contain;
}

.red *{
    fill: rgb(226, 19, 19);
}

.green * {
    fill: green;
}

.blue * {
    fill: rgb(22, 22, 216);
}

.yellow * {
    fill: yellow;
}

.orange * {
    fill: orange;
}

.purple * {
    fill: purple;
}
