:root{
  /*background of mine-game*/
  --game-bottom-width: 100vw;
  --game-bottom-height: 100vh;

  --game-bottom-position: fixed;
  --game-bottom-top: 0px;
  --game-bottom-left: 0px;
  --game-bottom-z-index: 1000;

  --game-bottom-background-color: #22222277;

  /*content of mine-game*/
  --game-width: 90vw;
  --game-height: 76vh;

  --game-position: fixed;
  --game-top: 12vh;
  --game-left: 5vw;
  --game-z-index: 2000;
  
  --game-display: flex;
  --game-flex-flow: column nowrap;
  --game-justify-content: flex-start;
  --game-align-items: center;

  --game-background-image: url('../assets/background-images/vector-cartoon-illustration-of-empty-kindergarten-room-with-furniture-and-toys-for-young-children-n/1926.jpg');
  --game-background-size: cover;
  --game-background-repeat: no-repeat;
  --game-background-position: center;

  --game-border-radius: 2vw;
  --game-box-shadow: 1vw 1vw 10px rgba(0, 0, 0, 0.5);

  /*close button*/
  --close-button-width: 5vw;
  --close-button-height: 5vw;

  --close-button-position: fixed;
  --close-button-top: 6.5vh;
  --close-button-right: 1.5vw;
    
  --close-button-background-color: #ffffff00;
  --close-button-background-image: url("../assets/images/game/jokenpo/botao-x.png");
  --close-button-background-size: contain;
  --close-button-background-repeat: no-repeat;
  --close-button-background-position: center;
  --close-button-border: none;
  --close-button-z-index: 3000;
  --close-button-cursor: pointer;
}

/* #minigame-remember {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0;
  background-image: url(../assets/background-images/modern-bathroom-interior-with-furniture-cartoon/304.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
} */
#minigame-remember {
  position: var(--game-bottom-position);
  top: var(--game-bottom-top);
  left: var(--game-bottom-left);
  width: var(--game-bottom-width);
  height: var(--game-bottom-height);
  z-index: var(--game-bottom-z-index);
  background-color: var(--game-bottom-background-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* #content-minigame-remember {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
} */
#content-minigame-remember {
  width: var(--game-width);
  height: var(--game-height);
  position: var(--game-position);
  top: var(--game-top);
  left: var(--game-left);
  z-index: var(--game-z-index);
  border-radius: var(--game-border-radius);
  box-shadow: var(--game-box-shadow);

  background-color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

/* #btn-close-game-memoria {
  position: fixed;
  right: 10px;
  top: 10px;
  cursor: pointer;
} */
#btn-close-game-memoria {
  width: var(--close-button-width);
  height: var(--close-button-height);

  position: var(--close-button-position);
  top: var(--close-button-top);
  right: var(--close-button-right);
    
  background-color: var(--close-button-background-color);
  background-image: var(--close-button-background-image);
  background-size: var(--close-button-background-size);
  background-repeat: var(--close-button-background-repeat);
  background-position: var(--close-button-position);
  border: var(--close-button-border);
  z-index: var(--close-button-z-index);

  cursor: var(--close-button-cursor);
}

.card {
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

h2 {
  text-align: center;
}

.slime-item2 {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  background-color: blueviolet;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}



.flip-container {
  width: 25%;
  height: 25%;
  perspective: 1000px;
  padding: 10px;
}

@media (max-width: 550px){
  .flip-container {
    padding: 5px;
  }

  #content-minigame-remember {
    padding: 10px;
  }
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* .flip-container:hover .flipper {
  transform: rotateY(180deg);
} */

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
}

.back {
  transform: rotateY(180deg);
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
}
