:root{
    /* trocar px por rem ou */
    --text-color-black: #444444;
    --text-color-white: #dddddd;
    
    --text-size-low: 14px;
    --text-size-median: 21px;
    --text-size-high: 38px;

    --background-black: #333333;
    --background-black-transparent: #22222277;
    --background-transparent: #ffffff00;
    --background-white: #dddddd;
    --background-full-white: #ffffff;

    --background-rock: #ff5353af;
    --background-paper: #4bff4bbd;
    --background-scissors: #5683ffc4;
    

    --background-image-game: url('../assets/background-images/vector-cartoon-illustration-of-empty-kindergarten-room-with-furniture-and-toys-for-young-children-n/1926.jpg');
    --background-image-close: url("../assets/images/game/jokenpo/botao-x.png");

    --slime-image: url("../assets/images/game/jokenpo/slime-02.svg");
    --slime-diameter: 150px; 

    --button-close-width: 10vw;
    
    /* size buttons */
    --button-width: 50px;
    --button-height: 50px;
}

 .jokenpo__background{
    width: 100vw;
    height: 100vh;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: var(--background-black-transparent);
} 

.jokenpo__main{
    position: fixed;
    top: 12vh;
    left: 5vw;
    /*width: 100vw;
    height: 88vh;*/
    width: 90vw;
    height: 78vh; 
    
    z-index: 2000;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    background-image: var(--background-image-game);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* border: 5px solid blue;
    border-radius: 20px;
    padding: 0px; */
    /* margin: 0px 10px 100px 10px; */
}

.jokenpo__closed{
    width: var(--button-close-width);
    height: var(--button-close-width);

    align-self: flex-end;
      
    background-color: var(--background-transparent);
    background-image: var(--background-image-close);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
} 

.jokenpo__slime-image{
    width: var(--slime-diameter);
    /* height: var(--slime-diameter); */
}

/* talvez padronizar como container-choice */
.jokenpo__choice-container div{
    width: 150px;
    height: 150px;
    background-color: var(--background-black-transparent);
    margin: 5px;
    border-radius: 50%;
}

.jokenpo__list-button{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;

    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.jokenpo__list-button li{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.jokenpo__list-button div{
    margin: 10px;
    padding: 10px;
    width: var(--button-width);
    height: var(--button-height);
    border-radius: 50%;
}

.jokenpo__list-button label{
    margin-bottom: 10px;
    color: var(--text-color-black);
    font-size: var(--text-size-median);
}

/* alterar cores */
.jokenpo__rock{
    background-image: url("../assets/images/game/jokenpo/rock-02.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--background-rock);
}

.jokenpo__paper{
    background-image: url("../assets/images/game/jokenpo/paper-03.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--background-paper);
}

.jokenpo__scissors{
    background-image: url("../assets/images/game/jokenpo/scissors-02.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--background-scissors);
}
