:root{
    /* trocar px por rem ou */
    --text-color-black: #444444;
    --text-color-white: #dddddd;
    
    --text-size-low: 14px;
    --text-size-median: 21px;
    --text-size-high: 38px;

    --background-black: #333333;
    --background-black-transparent: #22222277;
    --background-transparent: #ffffff00;
    --background-white: #dddddd;
    --background-full-white: #ffffff;

    --background-rock: #FBD165;
    --background-paper: #F4B0BF;
    --background-scissors: #A9CC8A;
    
    --background-image-game: url('../assets/images/game/jokenpo/background-infantil-02.jpg');
    --background-image-close: url("../assets/images/game/jokenpo/botao-x.png");

    --slime-image: url("../assets/images/game/jokenpo/slime-02.svg");
    --slime-diameter: 150px; 

    --button-close-width: 5vw;
    
    /* size buttons */
    --button-width: 50px;
    --button-height: 50px;

    /* ################################################## */
    /*background of mine-game*/
    --game-bottom-width: 100vw;
    --game-bottom-height: 100vh;
    
    --game-bottom-position: fixed;
    --game-bottom-top: 0px;
    --game-bottom-left: 0px;
    --game-bottom-z-index: 1000;
    
    --game-bottom-background-color: #22222277;
    
    /*content of mine-game*/
    --game-width: 90vw;
    --game-height: 76vh;
    
    --game-position: fixed;
    --game-top: 12vh;
    --game-left: 5vw;
    --game-z-index: 2000;
    
    --game-display: flex;
    --game-flex-flow: column nowrap;
    --game-justify-content: flex-start;
    --game-align-items: center;
    
    --game-background-image: url('../assets/background-images/vector-cartoon-illustration-of-empty-kindergarten-room-with-furniture-and-toys-for-young-children-n/1926.jpg');
    --game-background-size: cover;
    --game-background-repeat: no-repeat;
    --game-background-position: center;
    
    --game-border-radius: 2vw;
    --game-box-shadow: 1vw 1vw 10px rgba(0, 0, 0, 0.5);
    
    /*close button*/
    --close-button-width: var(--button-close-width);
    --close-button-height: var(--button-close-width);
    
    --close-button-position: fixed;
    --close-button-top: 6.5vh;
    --close-button-right: 1.5vw;
        
    --close-button-background-color: #ffffff00;
    --close-button-background-image: url("../assets/images/game/jokenpo/botao-x.png");
    --close-button-background-size: contain;
    --close-button-background-repeat: no-repeat;
    --close-button-background-position: center;
    --close-button-border: none;
    --close-button-z-index: 3000;
    --close-button-cursor: pointer;
}

 .jokenpo__background{
    position: var(--game-bottom-position);
    top: var(--game-bottom-top);
    left: var(--game-bottom-left);
    width: var(--game-bottom-width);
    height: var(--game-bottom-height);
    z-index: var(--game-bottom-z-index);
    background-color: var(--game-bottom-background-color);
} 

.jokenpo__main{
    width: var(--game-width);
    height: var(--game-height);
    position: var(--game-position);
    top: var(--game-top);
    left: var(--game-left);
    z-index: var(--game-z-index);
    border-radius: var(--game-border-radius);
    box-shadow: var(--game-box-shadow);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    background-image: var(--background-image-game);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}

.jokenpo__closed{
    width: var(--button-close-width);
    height: var(--button-close-width);

    position: var(--close-button-position);
    top: var(--close-button-top);
    right: var(--close-button-right);
        
    background-color: var(--close-button-background-color);
    background-image: var(--close-button-background-image);
    background-size: var(--close-button-background-size);
    background-repeat: var(--close-button-background-repeat);
    background-position: var(--close-button-position);
    border: var(--close-button-border);
    z-index: var(--close-button-z-index);

    cursor: var(--close-button-cursor);
} 

.jokenpo__slime-image{
    width: var(--slime-diameter);
    /* height: var(--slime-diameter); */
}

/* talvez padronizar como container-choice */
.jokenpo__choice-container div{
    width: 150px;
    height: 150px;
    background-color: var(--background-black-transparent);
    margin: 5px;
    border-radius: 50%;
}

.jokenpo__list-button{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;

    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.jokenpo__list-button li{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.jokenpo__list-button div{
    margin: 10px;
    padding: 10px;
    width: var(--button-width);
    height: var(--button-height);
    border-radius: 50%;
}

.jokenpo__list-button label{
    margin-bottom: 10px;
    color: var(--text-color-black);
    font-size: var(--text-size-median);
}

/* alterar cores */
.jokenpo__rock{
    background-image: url("../assets/images/game/jokenpo/rock-02.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--background-rock);
}

.jokenpo__paper{
    background-image: url("../assets/images/game/jokenpo/paper-03.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--background-paper);
}

.jokenpo__scissors{
    background-image: url("../assets/images/game/jokenpo/scissors-02.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--background-scissors);
}
