:root{
    /*background of mine-game*/
    --game-bottom-width: 100vw;
    --game-bottom-height: 100vh;
  
    --game-bottom-position: fixed;
    --game-bottom-top: 0px;
    --game-bottom-left: 0px;
    --game-bottom-z-index: 1000;
  
    --game-bottom-background-color: #22222277;
  
    /*content of mine-game*/
    --game-width: 90vw;
    --game-height: 76vh;
  
    --game-position: fixed;
    --game-top: 12vh;
    --game-left: 5vw;
    --game-z-index: 2000;
    
    --game-display: flex;
    --game-flex-flow: column nowrap;
    --game-justify-content: flex-start;
    --game-align-items: center;
  
    --game-background-image: url('../assets/background-images/vector-cartoon-illustration-of-empty-kindergarten-room-with-furniture-and-toys-for-young-children-n/1926.jpg');
    --game-background-size: cover;
    --game-background-repeat: no-repeat;
    --game-background-position: center;
  
    --game-border-radius: 2vw;
    --game-box-shadow: 1vw 1vw 10px rgba(0, 0, 0, 0.5);
  
    /*close button*/
    --close-button-width: var(--button-close-width);
    --close-button-height: var(--button-close-width);
  
    --close-button-position: fixed;
    --close-button-top: 6.5vh;
    --close-button-right: 1.5vw;
      
    --close-button-background-color: #ffffff00;
    --close-button-background-image: url("../assets/images/game/jokenpo/botao-x.png");
    --close-button-background-size: contain;
    --close-button-background-repeat: no-repeat;
    --close-button-background-position: center;
    --close-button-border: none;
    --close-button-z-index: 3000;
    --close-button-cursor: pointer;
  }