.notification {
  width: 30vw;
  padding: 15px;
  border-radius: 10px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  box-shadow:  rgba(0, 0, 0, 0.55) 0px 5px 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  z-index: 1000000000000;
}
@media (max-width: 550px){
  .notification{
    bottom: auto;
    top: 10px;
    width: 90%;
    right: 5%;
  }
}

.notification__title {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 0 5px black;
}

.notification__body {
  text-align: center;
  font-weight: bold;
}
