:root{
    --font-main: Oleander-Cakes, Arial;
    --background-main: #ff7f50;
    --background-image-game: url('./assets/background-images/vector-cartoon-illustration-of-empty-kindergarten-room-with-furniture-and-toys-for-young-children-n/1926.jpg')
    
    --slime-color: #0000ff;
    --slime-diameter: 200px;
    
    /* size text */
    --size-low: 14px;
    --size-median: 21px;
    --size-high: 38px;
    --novo-tamanho-de-letra: 50px;

    /* color text */
    --color-black: #444444;
    --color-white: #dddddd;

    --background-black: #333333;
    --background-white: #dddddd;
    --background-full-white: #ffffff;

    /* buttons in  home */
    --background-shower: #add8e6;
    --background-game: #ff6961;
    --background-food: #FFF600;

    /* size buttons */
    --button-width: 100px;
    --button-height: 50px;
}

/* @font-face {
    font-family: Oleander-Cakes;
    src: url("./assets/fonts/oleander_cakes/Oleander-Cakes.ttf") format("truetype");
} */

.jokenpo{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4000;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--background-game);
    background-image: var(--background-image-game);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.close{
    align-self: flex-end;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    margin: 5px;
    padding: 0px;
}

.slime{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.jokenpo__list-button div{
    margin: 10px;
    padding: 0px;
    width: var(--button-width);
    height: var(--button-height);
    border-radius: 50%;

    font-size: var(--size-median);
    color: var(--color-white);
    font-family: var(--font-main);
}


.jokenpo__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 700px;
}

.jokenpo__status-bar{
    background-color: #f1f15b;
    width: 200px;
    height: 50px;
    align-self: center;
}

.jokenpo__slime-image{
    width: var(--slime-diameter);
    height: var(--slime-diameter);
    border-radius: 50%;
    background-color: var(--slime-color);
}

.jokenpo__list-button{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #00000077;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.jokenpo__slime-choice{
    width: 200px;
    height: 200px;
    background-color: #808080;
    margin: 5px;
}
.jokenpo__player-choice{
    width: 200px;
    height: 200px;
    background-color: #808080;
    margin: 5px;
}

.jokenpo__list-button li{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    color: var(--color-white);
}

.jokenpo__rock{
    background-image: url("./assets/images/game/jokenpo/rock.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--background-full-white);
}

.jokenpo__paper{
    background-image: url("./assets/images/game/jokenpo/paper.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--background-full-white);
}

.jokenpo__scissors{
    background-image: url("./assets/images/game/jokenpo/scissors.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--background-full-white);
}
