header {
    background-color: coral;
}
main {
    background-size: cover;
    /* opacity: 0.5; */
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#environment-text , #item-box{
    font-size: 60px;
}

div#environment, div#items {
    display: flex;
    align-items: center;
}

span {
    width: 200px;
    text-align: center;
}

div#pou {
    background-color: blue;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.yellow {
    background-color: yellow !important;
}

#current-item {
    height: 100px;
}