:root{
    --background-main: #ff7f50;
    
    --slime-color: #0000ff;
    --slime-diameter: 40vh;
    
    /* size text */
    --size-low: 14px;
    --size-median: 21px;
    --size-high: 38px;
    --novo-tamanho-de-letra: 50px;

    /* color text */
    --color-black: #222222;
    --color-white: #dddddd;

    --background-black: #333333;
    --background-white: #dddddd;

    /* buttons in  home */
    --background-shower: #add8e6;
    --background-game: #ff6961;
    --background-food: #FFF600;
}

/* @font-face {
    font-family: nome-font;
    src: url("./assents/fonts/nome-fonte.ttf");
} */

.low{
    font-size: var(--size-low);
}

.median{
    font-size: var(--size-median)
}

.high{
    font-size: var(--size-high);
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--background-main);
    font-size: var(--size-median);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.slime{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.slime__image{
    
    width: var(--slime-diameter);
    height: var(--slime-diameter);
    border-radius: 50%;
    background-color: var(--slime-color);
}

button{
    width: 20vh;
    height: 10vh;
    margin: 3vh;

    font-size: var(--size-median);
    color: var(--color-black)
}

.container-button__shower{
    background-color: var(--background-shower);
}

.container-button__game{
    background-color: var(--background-game);
}

.container-button__food{
    background-color: var(--background-food);
}

.game{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3000;
    background-color: var(--background-game);
}


.jokenpo{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3000;
    background-color: var(--background-game);
}
